/* erro.css */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

.erros h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

.erros h1 i {
    color: #ff4c4c; /* Ícone vermelho */
    margin-right: 10px;
}

.erros h1::first-line {
    color: #ff4c4c;
}

.imagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 25%;
}

.imagem img {
    max-width: 300px;
}

.subtitulo p {
    font-size: 1em;
    margin-top: 20px;
}

.subtitulo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.subtitulo a:hover {
    text-decoration: underline;
}
