* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 25px;
}

/* Seções e layout */
section {
    width: 100%;
    padding: auto;
    height: calc(100vh - 80px);
    /* Ajustei a altura para evitar o espaço branco */
    position: relative;
}

.background-section {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.background-section video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.box {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.274) 20%, rgb(0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 5px;
    flex-direction: column;
}

h1 {
    font-family: 'Pacifico', cursive;
}

p {
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    margin: auto;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 2%;
}

.modelo {
    text-decoration: none;
    /* Remove o sublinhado */
    z-index: 2;
}

/* Header */
.container {
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-usuario {
    margin-right: 5%;
    color: black;
}

.nav-usuario span {
    font-size: 20px;
    margin: 0 10px 0 10px;
}

.nav-usuario img {
    width: 40px;
    height: 40px;
}

.logo {
    margin-left: 5%;
    size: 10%;
    margin-right: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    transform: scale(1.1);
}

.logo img {
    height: 55px;
    width: auto;
}

.logodark {
    margin-left: 5%;
    size: 10%;
    margin-right: 10px;
}

.logodark {
    display: none;
}

.logodark img {
    height: 55px;
    width: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    /* Faz os links ocuparem o espaço entre logo e formulário de login */
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    /* Espaçamento entre os links */
    font-size: 20px;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.login-form {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.login-form input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    color: black;
    border-radius: 5px;
}

.login-form button {
    padding: 5px 10px;
    border: 1px solid #ffffff;
    background-color: #000000;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.login-form button:hover {
    background-color: #ffffff;
    color: black;
}

.menu-mobile {
    z-index: 100;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    font-size: 20px;
    visibility: hidden;
    background-color: white;
}

.menu-mobile nav a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 40px;
}

.menu-mobile a:hover {
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
}

.btn-menu {
    position: absolute;
    display: block;
    top: 6%;
    right: 7%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    cursor: pointer;
    visibility: hidden;
}

.btn-menu.ativar .linha:nth-child(1) {
    transform: translateY(4px) rotate(-45deg);
}

.btn-menu.ativar .linha:nth-child(2) {
    display: none;
}

.btn-menu.ativar .linha:nth-child(3) {
    transform: translateY(-4px) rotate(45deg);
}

.linha {
    display: block;
    background-color: black;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    position: relative;
    transform-origin: center;
    transition: 0.2;
}

.texto-M {
    visibility: hidden;
}

/* Dark Mode - Ajustes */
body.dark-mode {
    background-color: #000000;
    /* Cor de fundo escuro */
    color: #e0e0e0;
    /* Cor de texto clara */
}

body.dark-mode .logo img{
    content: url('/Root/imgs/LK-Menu-Dark.png');
}

body.dark-mode .footer-logo img{
    content: url('/Root/imgs/LK-Menu-Dark.png');
}

body.dark-mode .facebook{
    content: url('/Root/imgs/facebook-dark.png');
}

body.dark-mode .linkedin{
    content: url('/Root/imgs/linkedin-dark.png');
}

body.dark-mode .x{
    content: url('/Root/imgs/x-dark.png');
}

body.dark-mode .btn-menu{
    border-color: #e0e0e0;
}

body.dark-mode .linha{
    background-color: #e0e0e0;
}

body.dark-mode .logodark {
    display: flex;
    align-items: center;
    margin-right: 20px;
    transform: scale(1.1);
}

body.dark-mode .logodark img {
    height: 55px;
    width: auto;
}

body.dark-mode .container {
    background-color: #000000;
}

body.dark-mode .nav-links a  {
    color: #e0e0e0;
}

body.dark-mode .nav-usuario img{
    background-color: white;
    border-radius: 20px;

}
body.dark-mode .bem-vindo-usuario{
    color: #e0e0e0;
}

body.dark-mode .nav-links a:hover {
    background-color: #ffffff;
}

body.dark-mode .login-form input {
    background-color: #444;
    border: 1px solid #666;
    color: white;
}

body.dark-mode .login-form input::placeholder {
    color: white;
}

body.dark-mode .login-form button {
    background-color: #444;
    border: 1px solid #666;
    color: white;
}

body.dark-mode .footer-search button {
    background-color: #ffffff;
    color: black;
}

body.dark-mode h2 {
    color: white;
}

body.dark-mode p2 {
    color: white;
}

body.dark-mode p {
    color: white;
}

body.dark-mode .footer-links ul li a {
    color: #ffffff;
}

.dark-mode-toggle {
    z-index: 1000;
    position: fixed;
    top: 12%;
    right: 20px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    background-color: #f1f1f1;
    color: #444;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}


.dark-mode-toggle:hover {
    background-color: #ddd;
    color: #222;
    transform: scale(1.1);
    z-index: 100;
}


body.dark-mode .dark-mode-toggle {
    background-color: #444;
    color: #f1f1f1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    z-index: 100;
}


body.dark-mode .dark-mode-toggle:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
    z-index: 100;
}



body.dark-mode .menu-mobile {
    background-color: #333;
}

body.dark-mode .menu-mobile nav a {
    color: #e0e0e0;
}

body.dark-mode .menu-mobile a:hover {
    background-color: #555;
}
#increaseFont,
#decreaseFont {
    font-size: 24px; /* Tamanho dos ícones */
    color: #fff; /* Cor dos ícones */
    background-color: #000; /* Fundo preto */
    border: none;
    border-radius: 50%; /* Botões redondos */
    width: 50px; /* Largura do botão */
    height: 50px; /* Altura do botão */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed; /* Fixa a posição */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#increaseFont {
    top: 150px; /* Distância do topo */
    right: 80px; /* Distância da borda direita */
    z-index: 9999999;
}

#decreaseFont {
    top: 150px;
    right: 20px; /* Colocado ao lado do botão "aumentar" */
    z-index: 9999999;

}

#increaseFont:hover,
#decreaseFont:hover {
    transform: scale(1.1); /* Aumenta ligeiramente ao passar o mouse */
}

#increaseFont:active,
#decreaseFont:active {
    transform: scale(0.9); /* Botão parece "pressionado" */
}


/* Responsivo */
@media screen and (max-width: 1020px) {
    .navbar {
        visibility: hidden;
    }

    .menu-mobile.abrir {
        visibility: visible;
    }

    .btn-menu {
        visibility: visible;
    }

    .nav-usuario {
        padding: 10px 40px;
    }
}

.modelo {
    background-color: rgb(255, 255, 255);
    /* Mudou para branco */
    color: rgb(0, 0, 0);
    /* Mudou para preto */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 5px;
}

.modelo button:hover {
    transform: scale(1.1);
}


.content-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 80px;
}

.img-container {
    height: 450px;
    width: 1027px;
    /* Corrigido para incluir a unidade 'px' */
    display: flex;
    align-items: center;
}

.img-container img {
    max-height: 100%;
    max-width: 100%;
}

.text-container {
    display: flex;
    margin-right: auto;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
}

h2 {
    font-size: 60px;
    margin: 0px;
    padding: 0px;
    font-family: bebas kai;
    letter-spacing: 2px;
    color: #000000;
    /* Mudou para preto */
}

p2 {
    color: #000000;
    /* Mudou para preto */
    width: 400px;
    font-size: 20px;
}


.carrinho {
    position: absolute;
    margin-top: 170px; /* Mantém a posição vertical */
    margin-left: 90px; /* Adiciona um espaçamento da borda esquerda */
    outline: none;
    text-decoration: none;
    padding: 10px 20px; /* Ajusta o espaçamento interno */
    height: auto; /* Remove altura fixa */
    font-weight: 200;
    border-radius: 5px;   
    background-color: rgb(0, 0, 0); /* Fundo preto */
    box-shadow: 0px 2px 12px rgba(255, 255, 255, 0.4); /* Sombra clara */
    color: rgb(255, 255, 255); /* Texto branco */
    font-size: 20px;
    text-align: center; /* Centraliza o texto */
    cursor: pointer; /* Cursor de botão */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Efeito suave */
}

.carrinho:hover {
    color: rgb(255, 255, 255); /* Cor do texto ao passar o mouse */
    transform: scale(1.1); /* Leve aumento ao passar o mouse */
}



.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
}

.center img {
    display: flex;
    margin: auto;
}

.modal {
    display: none;
    /* Mantenha como 'none' até que a modal seja exibida */
    position: fixed;
    z-index: 1000;
    /* Um valor alto para garantir que fique na frente de tudo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.4);
    /* Fundo com opacidade */
}

.close {
    font-size: 35px;
    font-weight: bold;
    color: black;
    /* Mudou para preto */
}

.close:hover,
.close:focus {
    color: black;
    /* Mudou para preto */
    cursor: pointer;
}

.venda {
    background-color: rgb(0, 0, 0);
    /* Mudou para preto */
    box-shadow: 0px 2px 12px rgba(255, 255, 255, 0.4);
    /* Mudou a sombra para branco */
    text-shadow: 0px 2px 12px rgba(255, 255, 255, 0.6);
    /* Mudou a sombra do texto para branco */
    color: rgb(255, 255, 255);
    /* Mudou para branco */
    padding: 14px 20px;
    margin: 8px 26px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 200px;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    left: 70%;
    transform: translateX(-70%);
}

.venda button:hover {
    opacity: 0.8;
}

/* 3D Slideshow */
* {
    margin: 0;
    padding: 0;
}

#slideshow {
    margin: 0 auto;
    padding-top: 5%;
    height: 500px;
    width: 100%;
    background-color: #000000;
    box-sizing: border-box;
}

.slideshow-title {
    font-family: 'Allerta Stencil';
    font-size: 62px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-top: 25%;
    letter-spacing: 3px;
    font-weight: 300;
}

.sub-heading {
    padding-top: 50px;
    font-size: 18px;
}

.sub-heading-two {
    font-size: 15px;
}

.sub-heading-three {
    font-size: 13px;
}

.sub-heading-four {
    font-size: 11px;
}

.sub-heading-five {
    font-size: 9px;
}

.sub-heading-six {
    font-size: 7px;
}

.sub-heading-seven {
    font-size: 5px;
}

.sub-heading-eight {
    font-size: 3px;
}

.sub-heading-nine {
    font-size: 1px;
}

.entire-content {
    margin: auto;
    width: 190px;
    perspective: 1000px;
    position: relative;
    padding-top: 80px;
}

.content-carrousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 15s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {
    width: 100%;
    height: 120px;
    border: 1px solid #3b444b;
    overflow: hidden;
    position: absolute;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
    transform: rotateY(360deg) translateZ(300px);
}

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}

.content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.box2 {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    flex-direction: column;
}

/* Habilita a rolagem suave para links âncora */
html {
    scroll-behavior: smooth;

    a {
        text-decoration: none;
        /* Remove a linha de sublinhado */
        color: inherit;
        /* Herda a cor do texto pai (sem cor azul) */
        transition: color 0.3s;
        /* Transição suave para a mudança de cor */
    }

    a:hover {
        color: #000000;
        /* Altera a cor do link ao passar o mouse (opcional) */
    }
}

.button-up-box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.button-up-arrow {
    width: 14px;
    height: 14px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(135deg);
}

#button-up {
    margin-right: 1%;
    display: flex;
    justify-content: flex-end;
}

footer {
    margin-top: -2%;
    color: black;
    text-align: center;
    padding: 20px;
    position: relative;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 1%;
}

.footer-logo img {
    width: 100px;
    height: auto;
}

.footer-links ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.footer-links ul li a {
    text-decoration: none;
    /* Remove o sublinhado */
    color: black;
    /* Garante que a cor do link será preta */
    font-size: 1em;
}

.footer-links ul li a:hover {
    color: #000000;
    /* Define a cor ao passar o mouse (opção laranja, pode mudar) */
}

/* Adiciona um estilo para o link visitado (caso necessário) */
.footer-links ul li a:visited {
    color: #000000;
    /* Cor roxa após o link ser visitado */
}

/* Adiciona um estilo para o link ativo (quando está sendo clicado) */
.footer-links ul li a:active {
    color: #000000;
    /* Cor vermelha quando o link é clicado */
}

/* Estilos para os ícones sociais */
.footer-socials {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footer-socials img {
    width: 40px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
}

.footer-socials img:hover {
    transform: scale(1.1);
}

.footer-search {
    margin-top: 1%;
}

.footer-search input {
    padding: 10px;
    width: 200px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.footer-search button {
    padding: 10px 15px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-copyright {
    margin-top: -1%;
    text-align: center;
    color: black;
    font-size: 0.8em;
}


.cookie-popup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    /* Gruda o pop-up na parte inferior da janela */
    left: 0;
    right: 0;
    padding: 15px;
    background-color: black;
    color: #fff;
    border-radius: 0;
    /* Remove a borda arredondada para que se encaixe melhor */
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.cookie-popup p {
    margin: 0;
    font-size: 16px;
    flex: 1;
}

.cookie-popup a {
    color: #ffffff;
    text-decoration: underline;
}

.cookie-popup button {
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.cookie-popup button:hover {
    background-color: #ffffff94;
}


@media screen and (max-width: 1020px) {

    .dark-mode-toggle{
        margin-top: 0%;
        top: 100px;
    }

    .carrinho{
        margin-left: 0%;
    }

    .content-container {
        flex-direction: column-reverse;
        margin: 0;
    }

    .text-container {
        line-height: 50px;
        text-align: center;
        margin: 0;
    }

    .text-container h2 {
        font-size: 50px;
        margin-top: 3%;
    }

    .text-container p2 {
        margin-top: 10px;
        font-size: 30px;
        line-height: 30px;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .text-container a {
        font-size: 50px;
        margin-bottom: -15%;
    }

    .img-container {
        width: 100%;

    }

    .venda {
        left: unset;
        margin: unset;
        margin-bottom: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }



    .footer-container {
        display: flex;
        flex-direction: column;
        /* Altera a direção para coluna */
        align-items: center;
        /* Centraliza os itens horizontalmente */
    }

    .footer-links {
        margin-bottom: 20px;
        /* Espaço abaixo dos links */
        font-size: 25px;
    }

    .footer-socials {
        /* Ajuste adicional, se necessário */
        text-align: center;
        /* Centraliza os ícones sociais, se desejado */
    }

    .footer-logo,
    .footer-search {
        display: none;
    }

    .footer-copyright {
        font-size: 20px;
    }

    .cart {
        display: none;
    }

    #slideshow {
        height: 400px;
        width: 100%;
        overflow: hidden;
        /* Garante que o conteúdo que ultrapasse os limites seja escondido */
    }

    .entire-content {
        display: flex;
        justify-content: center;
        /* Centraliza o carrossel na página */
        align-items: center;
    }

    .content-carrousel figure {
        flex-shrink: 0;
        /* Garante que os itens não diminuam */
        margin: 0 5px;
        /* Espaçamento entre os itens */
    }

    figure img {
        display: block;
        /* Remove espaços extras ao redor das imagens */
        max-width: 100%;
        /* Garante que as imagens não ultrapassem seus contêineres */
        height: auto;
        /* Mantém a proporção das imagens */
    }

    .conteudo {
        margin-bottom: 10px;
    }

    .conteudo p {
        font-size: 20px;
        width: 80%;
    }

    .modelo {
        font-size: 20px;
    }

    .center {
        width: 85%;
    }

    /* Responsivo */
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        visibility: hidden;
    }

    .footer-socials {
        text-align: center;
    }

    .footer-logo,
    .footer-search {
        display: none;
    }

    .footer-copyright {
        font-size: 20px;
    }

}
